[flake8]
# Specify the maximum allowed line length
max-line-length = 88

# Ignore specific rules
# For example, E501: Line too long, W503: Line break before binary operator
ignore = E501, W503, W504

# Exclude specific files or directories
exclude =
    .git,
    __pycache__,
    build,
    dist,
    .conda,
    .venv,
    venv,
    docs/source/api

# Enable specific plugins or options
# Example: Enabling flake8-docstrings
select = C,E,F,W,D